<!DOCTYPE html>

<html lang='en'>
  <head>
    <title> &#129409; AgeBook</title>
  </head>
  <style>
  body {
    background-image: url('');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>

  <body>
        <h1>AgeBook</h1>
        <br>
        <br>
      <div class="log-in-button"><%= button_to "Login", '/login', method: :get %></div>
        <br>
        <br>
      <div class="sign-up-button"><%= button_to "Sign Up", '/user/create', method: :get%></div>
    <div>
     <div class="welcome-header">
      <% if !!flash[:alert] %>
        <% flash.each do |type, message| %>
          <p><%= message %></p> <br>
        <% end %>
      <% end %>
    </div>
    </section>
  </body>
</html>