#log-in-form {
  margin-top: 100px;
  h1 {
    font-size: 36px !important;
    font-size: 3.6rem !important;
  }
  text-align: center;
  padding-bottom: 20px; 
}

.log-in-button{
  border: none;
  background-color: inherit;
  font-size: 80px;
  cursor: pointer;
  display: inline-block;
}
