<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>🦁 Acebook</title>
  </head>
  <style>
  body {
    background-image: url('https://media1.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>

  <body>
    <% if !!flash[:notice] %>
      <% flash.each do |type, message| %>
        <h1><%= message %></h1>
      <% end %>
    <% end %>

    <%= link_to new_post_path(:wall_id => params[:id]) do %>
      <h1>New post</h1>
    <% end %>

    <%= render 'shared/post', obj: @posts %>
  
  <br>
  <br>
  </body>
</html>




