/* Starting Styling */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Partials - main css files
@import "partials/*";
@import "partials/layout/*";

// Variables
@import "base/variables";

@import "custom";

// Default styles
@import "base/default";

.navbar {
  background: #395590;
  color: #FFF;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  width: initial;
}

.update-post-size {
  margin-top: 100px;
  h1 {
    font-size: 36px !important;
    font-size: 3.6rem !important;
  }
  h2 {
    font-size: 80px;
  }
  h3 {
    font-size: 60px;
  }
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px; 
  opacity: 0.8;
}